@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Spectral');
a {
	text-decoration: none;
	/*color: #bdc3c7*/
	color: #ecf0f1;
}
svg {
	display: none;
}
html {
	width: 100%;
	height: 100%;
}
h1 {
	color: #ecf0f1;
	font-family: Josefin Sans;
	font-size: 275%;
	position: absolute;
	left: 0px;
	bottom: 0%;
	margin-left: 10px;
	margin: 10px;
}
h3 {
	color: #2d3436;
	font-family: Raleway;
	font-size: 95%;
	color: #ecf0f1;
	position: absolute;
	right: 0px;
	bottom: 10%;
	margin-right: 10px;
}
footer {
	width: 100%;
	height: 9%;
	position: absolute;
	left: 0px;
	bottom: 0%;
	background-color: #0984e3;
}
.card1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	/* 5px rounded corners */
	color: #2d3436;
	width: 30%;
	height: 35%;
	position: absolute;
	left: 15%;
	bottom: 60%;
	background-color: #f5f6fa;
	font-family: Raleway;
}
.card1:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	/* 5px rounded corners */
	color: #2d3436;
	width: 30%;
	height: 35%;
	position: absolute;
	right: 15%;
	bottom: 60%;
	background-color: #f5f6fa;
	font-family: Raleway;
}
.card2:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	/* 5px rounded corners */
	color: #000;
	width: 30%;
	height: 35%;
	position: absolute;
	left: 15%;
	bottom: 20%;
	background-color: #f5f6fa;
}
.card3:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	/* 5px rounded corners */
	color: #000;
	width: 30%;
	height: 35%;
	position: absolute;
	right: 15%;
	bottom: 20%;
	background-color: #f5f6fa;
}
.card4:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#temp {
	font-size: 450%;
	font-family: 'Spectral', serif;
}
.label {
	width: 100%;
	height: 10%;
	background-color: #dcdde1;
	font-family: 'Spectral', serif;
}
.signInBox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	/* 5px rounded corners */
	color: #2d3436;
	width: 50%;
	height: 85%;
	position: absolute;
	left: 25%;
	bottom: 12%;
	background-color: #f5f6fa;
	font-family: Raleway;
}
.signInBox:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.signInTitle {
	color: #0984e3;
	font-family: Josefin Sans;
	font-size: 275%;
	position: absolute;
	left: 40%;
	top: 2%;
}
#signInBtn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	color: #ecf0f1;
	width: 70%;
	background-color: #0984e3;
	font-family: Raleway;
	font-size: 150%;
	padding: 10px;
}
input {
	background-color: #dcdde1;
	font-family: Raleway;
	width: 75%;
	line-height: 2em;
	font-size: 125%;
}
h5 {
	margin-left: 12%;
    color:#2f3640;
}